:root {
	--floral-white: #fff8ef;
	--sunglow: #ffce56;
	--burnt-sienna: #eb6a51;
	--air-force-blue: #6689a1;
	--outer-space: #4c5b61;
}

/* ENTIRE PAGE, Base Style */

.app {
	text-align: center;
	background-color: var(--floral-white);
}


/* MAIN SECTION STYLES */

.body {
    padding: 0 10%;
}

section {
	padding: 100px 20px;
	min-height: 100vh;
}

@media (max-width: 768px) {

    .overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 1000;
	}
}
