/* Base Styles */
:root {
	--floral-white: #fff8ef;
	--sunglow: #ffce56;
	--burnt-sienna: #eb6a51;
	--air-force-blue: #6689a1;
	--outer-space: #4c5b61;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "League Spartan", sans-serif;
    background-color: var(--floral-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }